@font-face {
  font-family: Anton;
  src: url(../public/fonts/Anton-Regular.ttf);
}

:root {
  --dark-navy: #192a3c;
  --navy: #223546;
  --green: #245b47;
  --shade-green: #224942;
  --dark-green: #0d3a32;
  --link-bg-color: whitesmoke;
}

body {
  background-color: var(--dark-navy);
}

div.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  color: white;
  font-family: Anton;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.container {
  background-color: var(--green);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

ul.links-group {
  list-style: none;
  padding-inline-start: 0px;
  display: grid;
  grid-template: repeat(4, 100px) / 400px;
  gap: 20px;
  padding: 20px;
}

li.link {
  display: flex;
  align-items: center;
  padding-inline: 10px;
  background-color: var(--link-bg-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: Anton;
  font-size: 2rem;
  letter-spacing: 1px;
}

li.link:hover {
  scale: 1.5;
  transition: scale 500ms ease-out;
  cursor: pointer;
}

@media (max-width: 600px) {
  div.banner {
    font-size: 5rem;
  }

  .container {
    width: 100%;
  }

  ul.links-group {
    grid-template: repeat(4, 100px) / 100%;
  }
}
